body {
	font-family: "Ubuntu";
	background : #573D1C;
	color: #ceba47;
	text-align : center;
}

input {
	background: #C8963E;
	outline: none;
	border: 1px;
	text-align: center;
}

button {
	background : #774D1C;
	color: #ceba47;
	border: 0px;

}

button:hover{
	background: #974d1c;
}